@layer base {
    body {
        background-color: var(--color-bg-base);
        color: var(--color-text-inverse);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin: 0;
        padding: 0;
    }

    html {
        -webkit-text-size-adjust: 100%;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    ::view-transition-old(root) {
        animation-duration: 0.15s;
    }

    ::view-transition-new(root) {
        animation-duration: 0.2s;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-heading);
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -0.02em;
    }

    p,
    li,
    a,
    input,
    textarea,
    select,
    button {
        font-family: var(--font-geist);
    }

    button {
        cursor: pointer;
        background: none;
        border: none;
        font-family: inherit;
    }

    input,
    textarea,
    select {
        font-family: inherit;
        font-size: inherit;
    }

    .section-x-p {
        @apply px-xs sm:px-xs md:px-sm lg:px-sm xl:px-md;
    }
    .section-gap {
        @apply gap-xs sm:gap-xs md:gap-sm lg:gap-sm xl:gap-md;
    }
    .section-xy-m {
        @apply m-xs sm:m-xs md:m-sm lg:m-sm xl:m-md;
    }
    .inner-section-h {
        @apply min-h-[65dvh];
    }
    .inner-section-style {
        @apply bg-surface text-background rounded-md p-sm sm:p-sm md:p-md lg:p-md xl:p-lg;
    }
    .heading-primary {
        font-family: var(--font-heading);
        @apply text-6xl uppercase font-extrabold tracking-tight;
    }
    .no-section-p {
        @apply px-[calc(var(--spacing-xs)*2)] sm:px-[calc(var(--spacing-xs)*2)] md:px-[calc(var(--spacing-sm)*2)] lg:px-[calc(var(--spacing-sm)*2)] xl:px-[calc(var(--spacing-md)*2)];
    }
    .eyebrow {
        @apply tracking-tight uppercase font-light text-sm;
    }
    .eyebrow-light {
        @apply tracking-tight uppercase font-light text-sm;
    }
    .quote {
        @apply italic text-5xl uppercase font-extrabold tracking-tight leading-snug;
    }

    @media (min-width: 640px) {
        :root {
            --section-y-p: var(--spacing-xs);
        }
    }

    @media (min-width: 768px) {
        :root {
            --section-y-p: var(--spacing-sm);
        }
    }

    @media (min-width: 1024px) {
        :root {
            --section-y-p: var(--spacing-sm);
        }
    }

    @media (min-width: 1280px) {
        :root {
            --section-y-p: var(--spacing-md);
        }
    }
}
